{{!< layout}}
{{#if hay}}
    <div class="aui-message aui-message-confirmation">
        <p class="title">
            <strong>
                <a id="simple-tooltip" href="{{docs}}" target="_blank" title="Acceso a los documentos del ticket"><font style="font-family:Segoe UI">{{texto}}</font></a>
            </strong>
        </p>
    </div>
{{else}}
    <div class="aui-message aui-message-warning">
        <p class="title">
            <strong>
                <a id="simple-tooltip" href="{{docs}}" target="_blank" title="Comunicaci&#243;n al usuario"><font style="font-family:Segoe UI">{{texto}}</font></a>
            </strong>
        </p>
    </div>
{{/if}}




