{{!< ../layout}}
<header class="aui-page-header">
    <div class="aui-page-header-inner">
        <div class="aui-page-header-main intro-header">
            <h3>Presupuesto (hrs) Aplicativos Nortegas</h3>
        </div>
    </div>
</header>
<table class="aui aui-table-sortable">
    <thead>
        <tr>
            <th class="aui-table-column-issue-key">Aplicaci&oacute;n</th>
            <th>Total</th>
            <th>Restante</th>
        <tr>
    </thead>
    <tbody>
        {{#each lb}}
            {{#each this as |item2|}}
            <tr>
            <td><a href="{{../../urlJira}}{{item2.[3]}}" target="_blank">{{item2.[0]}}</a></td>
            <td>{{item2.[1]}}</td>
            <td>{{item2.[2]}}</td>
             </tr>
            {{/each}}
        {{/each}}
    </tbody>
</table>